@import "./variables.css";

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron/Orbitron-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
  font-weight: 600;
  font-style: bold;
}

* { touch-action: manipulation; }

html {
  scroll-behavior: smooth;
}

/* header img {
  max-width: 100%;
  height: auto;
} */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h1 span {
  font-weight: 600;
}

.informationList {
  font-size: 24px;
}
p,
li {
  font-size: 16px;
  font-family: 'ChakraPetch', sans-serif;
}

/* .informationList {
  font-size: 32px;
} */

.gradientWrapper {
  /* word-wrap: break-word; */
  position: relative;
  margin-top: -5px;
  padding: 50px;
  background: radial-gradient(
      at top right,
      rgb(249, 210, 228, 0.7) 0%,
      rgba(255, 255, 255, 0) 11%
    ),
    linear-gradient(
      -10deg,
      rgba(47, 50, 147, 1) 0%,
      rgba(55, 51, 147, 1) 25%,
      rgba(221, 95, 164, 1) 84%,
      rgba(249, 210, 228, 1) 100%
    );
  overflow: hidden;
  z-index: 0;

  .noiseFilter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(/noise.svg);
    opacity: 0.4;
    z-index: -1;
  }
}

.contentWrapper {
  /* font-size: 32px; */
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 6px 8px 30px 0px #00000070;
  color: #353394;
  /* margin-left: auto;
  margin-right: auto; */
}

body {
  margin: 0;
}

p {
  /* text-align: left; */
  font-size: 24px;
  font-weight: 400;
  line-height: 27.3px;
}

.underlined {
  text-decoration: underline;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .flexWrapper {
    max-width: 100%;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 30px;
    gap: 60px;
  }
}

.choreographer {
  width: 360.6px;
  height: 580px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 6px 8px 30px 0px #00000070;
}

.choreographer-info > a {
  text-decoration: none;
  color: #353394;
}

.choreographer-info > a:hover {
  text-decoration: underline;
  color: blue;
}
.choreographer-info > a:link:visited {
  color: #353394;
}

.choreographer-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 5px 0px;
}

.choreographer-info {
  padding: 10px;
  color: #353394;
  text-align: center;
}

.choreographer-info h2 {
  margin-top: 10px;
}

.choreographer-info p {
  margin: 5px 0;
}

.program {
  padding: 50px;
}

.informationProgram {
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  padding: 15px;
  border-radius: 5px;
  box-shadow: 6px 8px 30px 0px #00000070;
}

.footer {
  padding: 50px;
  background-color: #353394;
}

.footerP p {
  padding: 150px;
}
.footerP {
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: white;
  margin: 0px;
}

.footerP > a:visited {
  color: white;
}

.footerP > a:hover {
  text-decoration: underline;
  color: blue;
}
