@import "./variables.css";

@font-face {
  font-family: "Uniwars";
  src: url("../fonts/uniWarsFont/UniwarsSemiBold.ttf");
  font-weight: 700;
  font-style: bold;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

header img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Uniwars", sans-serif;
  text-align: center;
}

h1 {
  font-size: 36px;
}

p,
li {
  font-size: 16px;
}

/* .informationList {
  font-size: 32px;
} */

.gradientWrapper {
  /* word-wrap: break-word; */
  position: relative;
  margin-top: -3px;
  padding: 20px;
  background: linear-gradient(
      to top left,
      #2f3293 2.55%,
      #373393 22.98%,
      #dd5fa4 65.2%,
      #f9d2e4 93.34%
    ),
    radial-gradient(
        106.82% 106.82% at 100% -5.22%,
        #f9d2e4 0%,
        rgba(229, 229, 229, 0) 13.58%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  /* background: linear-gradient(
    to top left,
    rgba(53, 51, 148, 1) 0%,
    rgba(46, 49, 146, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  ); */
}

.contentWrapper {
  /* font-size: 32px; */
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 6px 8px 30px 0px #00000070;
  color: #353394;
  /* margin-left: auto;
  margin-right: auto; */
}

body {
  margin: 0;
}

p {
  text-align: left;
  font-family: Chakra Petch;
  /* font-size: 32px; */
  font-weight: 400;
  line-height: 27.3px;
}

.footerP {
  color: rgb(255, 255, 255);
  margin: 0px;
}

.footer {
  padding: 20px;
  background-color: #353394;
}

.underlined {
  text-decoration: underline;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .flexWrapper {
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 30px;
    gap: 30px;
  }
}

.choreographer {
  max-width: 300px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #353394;
  box-shadow: 6px 8px 30px 0px #00000070;
}

.choreographer-image img {
  border-radius: 5px 5px 0px 0px;
}

.choreographer-info {
  padding: 10px;
  color: white;
  text-align: center;
}

.choreographer-info h2 {
  margin-top: 0;
}

.choreographer-info p {
  margin: 5px 0;
}

.program {
  padding: 50px;
}
.informationProgram {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 40%;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 6px 8px 30px 0px #00000070;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: blue;
}
/*<!-- links on hover should have underline -->
<!-- Links should be white color -->
<!-- color on link  --> */
