@import "./variables.css";

@font-face {
  font-family: "Uniwars";
  src: url("../fonts/uniWarsFont/UniwarsSemiBold.ttf");
  font-weight: 700;
  font-style: bold;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

header img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Uniwars", sans-serif;
}

/*Your code here: */
.gradientWrapper {
  margin-top: -3px;
  padding: 50px;
  background: linear-gradient(
    to top left,
    rgba(53, 51, 148, 1) 0%,
    rgba(46, 49, 146, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
}

/* border-color: linear-gradient(
    to bottom right,
    rgba(46, 49, 146, 1) 0%,
    rgba(53, 51, 148, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  ); */

.contentWrapper {
  padding: 25px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 6px 8px 30px 0px #00000070;
}
body {
  margin: 0;
  background-color: #353394;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  font-family: Chakra Petch;
  font-size: 21px;
  font-weight: 400;
  line-height: 27.3px;
  margin-bottom: 10px;
  text-align: left;
  color: #2f3293;
  background-color: white;
}
.footerP {
  color: white;
}
.underlined {
  text-decoration: underline;
}
/* 



*/
/* NEW  */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choreographer {
  flex: 1;
  max-width: 300px;
  margin: 20px;
}

.choreographer-image img {
  width: 100%;
  height: auto;
  border-radius: 0%; /* Make the image round */
  /*da sloja background color samo tuk*/
}

.choreographer-info {
  margin-top: 10px;
}

.choreographer-info h2 {
  margin-top: 0;
}

.choreographer-info p {
  margin: 5px 0;
}

/* shadow na kutiqta
 da e centriran teksta i da e v lilavo
 i da e curvnat boxa */

/* .tablet {
  width: 768px;
  height: 3643px;
  top: -1935px;
  left: 13501px;
  padding: 0px 0px 3066px 0px;
  gap: 0px;
  opacity: 0px;
}

.mobile {
  width: 400px;
  height: 3643px;
  top: -1935px;
  left: 14459px;
  padding: 0px 0px 2777px 0px;
  gap: 0px;
  opacity: 0px;
  background-size: 400px;
} */
